<div class="container">
<lab-title></lab-title>
<perfect-scrollbar class="heightMaxScrollBar">
     <div class="politicas">
        <h2>POLÍTICAS DE CALIDAD</h2><br>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>ISO 9001:2015</mat-panel-title>
                </mat-expansion-panel-header>
                <p>BioTest realiza análisis clínicos confiables, oportunos, confidenciales y permanentes haciendo uso de
                    su tecnología de vanguardia, infraestructura adecuada y profesionales competentes y éticos,
                    comprometidos con el cumplimiento de los requisitos de la Norma ISO 15189:2012 e ISO 9001:2015,
                    Criterios del Organismo de Acreditación Ecuatoriano.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>BioTest</mat-panel-title>
                </mat-expansion-panel-header>
                <p>BioTest Labsag realiza exámenes clínicos confiables, oportunos, confidenciales y permanentes haciendo
                    uso de su tecnología de vanguardia, infraestructura adecuada y profesionales competentes y éticos,
                    cuenta con Plan de Manejo Ambiental y alineamiento a la Legislación vigente de SST, buscando la
                    satisfacción de nuestros clientes y mejorar continuamente.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Nuestra Misión</mat-panel-title>
                </mat-expansion-panel-header>
                <p>Brindar servicios de diagnóstico de laboratorio clínico con profesionales competentes, con alta
                    tecnología, calidad, oportunos, e innovadores.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Nuestra Visión</mat-panel-title>
                </mat-expansion-panel-header>
                <p>Ser la mejor empresa de medicina de laboratorio en la Provincia del Ecuador</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Nuestros Profesionales</mat-panel-title>
                </mat-expansion-panel-header>
                <p>Además contamos con un equipo completo de profesionales de la salud, al servicio de nuestros
                    clientes; con la mayor disposición y entusiasmo de brindarle el mejor servicio en el menor tiempo
                    posible, mediante equipos tecnológicos, que garantizan la veracidad, exactitud, confidencialidad, de
                    los resultados. Contamos con un equipo completo de profesionales competentes en salud, al servicio
                    de nuestros clientes.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div><br><br>
    <h2>CONTACTOS</h2><br><br>
    <div class="contactos" fxLayout="row" fxLayoutAlign="space-between">
        <div class="sucursal"> 
            <mat-card fxFlex="" class="mat-elevation-z5">
                <h4>LATACUNGA</h4>
                <p>
                    <mat-icon> location_on</mat-icon>Marqués de Maenza y Belisario Quevedo
                </p>
                <p>
                    <mat-icon> call</mat-icon> 032 801 525 / 098 258 8403
                </p>
                <p>
                    <mat-icon> mail_outline</mat-icon>biotest01_latacunga@gmail.com
                </p>
                <img src="../../../../assets/sucLatacunga.jpg" alt="">
            </mat-card>
        </div>
        <div class="sucursal">
            <mat-card fxFlex="" class="mat-elevation-z5">
                <h4>QUITO</h4>
                <p>
                    <mat-icon> location_on</mat-icon>Av. Mariana de Jesús OE7-02 y Nuño de Valderrama.
                </p>
                <p>
                    <mat-icon> call</mat-icon> 032 223 578 / 098 598 8414
                </p>
                <p>
                    <mat-icon> mail_outline</mat-icon>biotest02_quito@gmail.com
                </p>
                <img src="../../../../assets/sucQuito.jpg" alt="">
            </mat-card>
        </div>
    </div><br><br>
</perfect-scrollbar>
</div>