img{
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

mat-toolbar{
    margin-left: 10px;
    background-color: #ffffff !important; 
    height: 80px;
    width: auto;
}

h2{
    font-size: 25px;
    color: #2c88b1 !important;
    line-height: 80px; 
}

hr{
    margin-left: 10px;
}